
body {
    overflow: hidden;
}

html {
    overflow-y: auto;
}

.index-main-cover {

    background-size: cover   ;
    height: 260px;

    background-color: $global-secondary-background;
    background-image: url("../img/cover-img-resized.jpg");
    background-repeat: no-repeat;
    background-position: center center;

    font-size: 1.05rem;

    h1 {
        font-size: 2.65rem;
    }
}

.cover-background-fade {
    @extend .uk-position-cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.85) 85%);
}

.title-link {
    text-decoration: underline;
}
@media (max-width: 600px) {
    .index-main-cover {
        height: 305px;
    }
}

@media (max-width: 400px) {
    .index-main-cover {
        height: 465px;
    }
}

@media (min-width: $breakpoint-medium) {
    .index-main-cover {
        height: 35vh;
    }
}

