<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="&copy; {{site.time | date: '%Y'}} Webis">
    <link rel="icon" type="image/png" href="{{ '/img/favicon.png' | relative_url }}">

    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}?{{site.time | date: '%s'}}">
    {%- for css in page.additional_css %}
    <link rel="stylesheet" href="{{ css | relative_url }}?{{site.time | date: '%s'}}">
    {%- endfor %}
</head>
<body class="uk-offcanvas-content">
<script src="{{ '/js/thirdparty/uikit/uikit.min.js' | relative_url }}"></script>
<script src="{{ '/js/thirdparty/uikit/uikit-icons.min.js' | relative_url }}"></script>




<main class="uk-section uk-cover-container index-main-cover">
    <div class="cover-background-fade"></div>
    <div class="uk-container uk-position-bottom uk-light uk-padding">
            <h1>ArgMining 2019</h1>
            <h1>The 6th International Workshop on Argument Mining</h1>
            <h2>ACL 2019</h2>
        
    </div>
</main>
        
<div id="offcanvas-nav" class="uk-hidden@m" data-uk-offcanvas="overlay: true; flip: true;">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" data-uk-close></button>

        <!-- Mobile navigation -->
        <nav class="uk-margin-large-top">
            <ul class="uk-nav uk-nav-primary uk-nav-parent-icon" data-uk-nav>
                   
                <li{% if page.nav_active == "index" %} class="uk-active"{% endif %}>
                        <a href="{{ '/' | relative_url }}">Argmining 2019</a>
                    </li>
                <li{% if page.nav_active == "important-dates" %} class="uk-active"{% endif %}>
                    <a href="{{ '/important-dates.html' | relative_url }}">Dates</a>
                </li>
                
                
                <li{% if page.nav_active == "program" %} class="uk-active"{% endif %}>
                    <a href="{{ '/program.html' | relative_url }}">Program</a>
                </li>
                <li{% if page.nav_active == "organizing-committee" %} class="uk-active"{% endif %}>
                    <a href="{{ '/organizing-committee.html' | relative_url }}">Committee</a>
                </li>
                <li{% if page.nav_active == "past-workshops" %} class="uk-active"{% endif %}>
                    <a href="{{ '/past-workshops.html' | relative_url }}">Past Workshops</a>
                </li>
                <li{% if page.nav_active == "acl-anti-harassement" %} class="uk-active"{% endif %}>
                    <a href="{{ '/acl-anti-harassement.html' | relative_url }}">Policy</a>
                </li>

               <li class="uk-position-bottom-right uk-padding">
                    <a target="_blank" href="https://webis.de"><img src="{{ '/img/webis-logo.png' | relative_url }}" alt="Webis Logo" class="uk-logo"> Webis.de</a>
            </li>
            </ul>
        </nav>
    </div>
</div>

<div class="uk-background-secondary global-nav uk-visible@m" data-uk-sticky="media: @m">
    <!-- Desktop navigation -->
    <nav class="uk-navbar-container uk-navbar-transparent uk-container uk-light" data-uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                
                <li{% if page.nav_active == "index" %} class="uk-active"{% endif %}>
                        <a href="{{ '/' | relative_url }}">Argmining 2019</a>
                    </li>
                
                <li{% if page.nav_active == "important-dates" %} class="uk-active"{% endif %}>
                    <a href="{{ '/important-dates.html' | relative_url }}">Dates</a>
                </li>
                
                <li{% if page.nav_active == "program" %} class="uk-active"{% endif %}>
                    <a href="{{ '/program.html' | relative_url }}">Program</a>
                </li>
                <li{% if page.nav_active == "organizing-committee" %} class="uk-active"{% endif %}>
                    <a href="{{ '/organizing-committee.html' | relative_url }}">Committee</a>
                </li>
                <li{% if page.nav_active == "past-workshops" %} class="uk-active"{% endif %}>
                    <a href="{{ '/past-workshops.html' | relative_url }}">Past Workshops</a>
                </li>
                <li{% if page.nav_active == "acl-anti-harassement" %} class="uk-active"{% endif %}>
                    <a href="{{ '/acl-anti-harassement.html' | relative_url }}">Policy</a>
                </li>
                <li class="uk-position-small uk-position-center-right">
                        <a target="_blank" href="https://webis.de"><img src="{{ '/img/webis-logo.png' | relative_url }}" alt="Webis Logo" class="uk-logo"> Webis.de</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="uk-background-secondary global-nav uk-hidden@m" data-uk-sticky>
    <div class="uk-navbar-container uk-navbar-transparent uk-container uk-light mobile-nav-toggle" data-uk-navbar>
        <div class="">
            <ul class="uk-navbar-nav">
            
                <li{% if page.nav_active == "index" %} class="uk-active"{% endif %}>
                        <a href="{{ '/' | relative_url }}">Argmining 2019</a>
                    </li>
            </ul>
        </div>

        <div class="uk-navbar-right">
            <button class="uk-button uk-navbar-item uk-light uk-button-large" type="button" data-uk-icon="icon: menu"
                    data-uk-toggle="target: #offcanvas-nav"></button>
        </div>
    </div>
</div>

<div data-uk-height-viewport="expand: true">
{{ content }}
</div>

<footer class="footer-section">
    <div class="uk-container">
        <div class="uk-align-right@m uk-margin-top">
            Copyright &copy; {{site.time | date: '%Y'}} Webis Group <span class="uk-padding-small">&bullet;</span>
            <a href="mailto:henningw@upb.de,benno.stein@uni-weimar.de?subject=[Argmining 2019]">Contact</a>
        </div>
    </div>
</footer>

<script>
    UIkit.util.ready(() => {
        const nav = UIkit.util.$(".global-nav");
        const navHeight = UIkit.util.height(nav);

        // correct scroll offset due to fixed navigation after page load
        let fixScrollHeight = () => {
            if (location.hash === "" || !UIkit.util.$(location.hash)) {
                return;
            }

            const pos = document.documentElement.scrollTop;
            const offset = UIkit.util.offset(UIkit.util.$(location.hash));

            if (pos > navHeight * .8 && offset) {
                document.documentElement.scrollTop = offset.top - navHeight - 20;
            }
        };

        window.addEventListener("hashchange", fixScrollHeight, false);
        setTimeout(fixScrollHeight, 100);
    });
</script>

</body>
</html>
